@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Work+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --color-white: #fff;
  --main-color: #00b39b;
  --second-color: #ababab;
  --firstcard-color: #00ccb1;
  --secondcarte-color: #3d83df;
  --thirdcarte-color: #1b2734;
}

::selection {
  background: var(--main-color);
  color: var(--color-white);
  text-shadow: none;
}

body {
  margin: 0;
  padding: 70px 0 20px 0;
  width: 100%;
  height: auto;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}

/* DropDown NavBar Styling */
.dropbtn {
  background-color: transparent;
  color: var(--second-color);

  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-white);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}
/* End of dropdown navbar styling */

/* Main Navigation bar styling */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*  z-index: 3; */
  background: hsla(0, 0%, 100%, 0.98);
  transition: box-shadow 0.25s ease 0s;
}

.nav {
  display: block;
  zoom: 1;
  max-width: 1015px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.second-nav {
  position: relative;
  float: right;
}

.main-menu {
  display: flex;
  list-style: none;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2em;
  padding: 1.33em 0;
  margin: 0;
}

.main-menu a {
  color: var(--second-color);
  display: block;
  text-decoration: none;
  padding: 0 0.6em;
}

li > a {
  text-decoration: none;
  color: var(--second-color);
}

a:hover {
  color: var(--main-color);
}

.logo-container {
  margin: 2px 0 0;
  line-height: 68px;
  display: inline-block;
  position: relative;
}

.main-header a {
  display: inline-block;
}

.logo {
  width: 268px;
  height: 33px;
}
/* End of Main navbar styling */

.main {
  margin: 33px auto 60px;
}

/* First section styling */
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green-star {
  max-width: 100%;
  width: 40px;
  height: 39px;
}

.fs-title {
  text-align: center;
  font-size: 2rem;
  color: var(--main-color);
  font-family: "Work Sans";
  font-weight: 300;
  margin: 40px 0;
}

/* first section paragraph styling */
.container {
  display: flex;
  flex-direction: row;
  padding: 0 75px;
  gap: 20px;
  margin-bottom: 20px;
}

.p1,
.p2 {
  text-align: justify;
  margin: 0.8em 0;
  line-height: 1.75;
  font-weight: 400;
  font-size: 0.85rem;
  color: var(--second-color);
}
/* End of first section styling */

/* Second section styling */
.cartes {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.cartes h1 {
  color: var(--color-white);
  font-size: 1.25rem;
  margin: 0px;
}

.cartes h2 {
  font-size: 1.02em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  color: var(--color-white);
}

.carte {
  border-radius: 10px;
  overflow: hidden;
  width: 15.875rem;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.carte__1 {
  background-color: var(--firstcard-color);
}

.carte__2 {
  background-color: var(--secondcarte-color);
}

.carte__3 {
  background-color: var(--thirdcarte-color);
}

.top {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 180px;
  justify-content: space-around;
}

i {
  color: var(--color-white);
}

#select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  background: none;
  border: 0;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 1.2rem;
  text-align: center;
  scale: 0.7;
}

select {
  width: 100%;
  background: transparent;
  color: var(--color-white);
  border: 0;
  border-radius: 0;
  padding: 0 2em 0 0;
  --webkit-appearance: none;
  outline: 0;
  text-transform: none;
  text-decoration: underline;
  cursor: pointer;
}

option {
  color: #333;
  background-color: var(--color-white);
  font-size: 0.5rem;
  line-height: 1.2;
}

#country2 {
  margin-top: 20px;
}
/* End of second section styling */

/* Third section styling */
.third {
  display: flex;
  margin: 2.5rem auto 3.125rem;
  align-items: center;
}

.third h1 {
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.625em;
  color: var(--firstcard-color);
  padding: 0 60px 0;
  margin: 0 -136px 0 105px;
}

.brands__logos {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  list-style: none;
  width: 60%;
  margin: 0px 174px 0 49px;
}

.brands__logos li {
  font-size: 1rem;
  display: inline-block;
  margin-top: 0;
  padding: 5px 0 5px 5px;
  width: 25%;
}
.brands__logos a {
  display: inline-block;
  padding: 5px 0;
}

.third ul li a svg {
  width: auto;
  height: 20px;
}
.third ul li a img {
  width: auto;
  height: 20px;
}
/* End of third section styling */

/* Fourth section styling */
.fourth {
  background-color: #e5faf8;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 204, 177, 0.01) 5%,
    rgba(61, 199, 223, 0.1)
  );
  height: 600px;
  width: 100%;
  padding: 30px 0 10px 0;
}

.fourth-1 {
  width: 497.5px;
  height: 200px;
  padding: 10px;
  margin: 32px 0 0 138px;
  float: left;
}

.fourth-1 h1 {
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
  font-size: 34px;
  line-height: 44px;
  color: var(--main-color);
}

.fourth-1 p {
  font-size: 14px;
  line-height: 24px;
  margin: 22px 0 22px 0;
  max-width: 415px;
  color: #747474;
}

.fourth-cart h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 31.2px;
  color: var(--main-color);
  text-align: center;
}

.fourth-cart p {
  font-size: 14px;
  line-height: 18.2px;
  text-align: center;
  color: #747474;
}

.fourth-cart img {
  height: 40px;
  width: 35px;
  max-width: 100%;
  margin: 10px;
}

.fourth-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 228.75px;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 5px;
}

.rightsection-f {
  display: flex;
  gap: 25px;
  margin: 0 100px 0 0px;
  float: right;
}

.fcart-1,
.fcart-3 {
  margin-bottom: 25px;
}

.fourth-2 {
  margin-top: 25px;
}
/* End of fourth section styling */

/* Fifth section styling */
.fifth {
  margin: 70px auto 20px;
}

.inner-section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner-section5 h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 39px;
  text-align: center;
  color: var(--main-color);
}

.inner-section5 p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #747474;
}
/* End of fifth section styling */

/* Sixth section styling */
.container-2 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.cart-6 {
  border-radius: 14px;
  border: 0.1px solid rgba(0, 0, 0, 0.03);
}

.cart-6 img {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

.cart-6:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 311px;
  border: 1px;
  margin: 15px 0px 15px 0px;
  background-color: var(--color-white);
}

.con h5 {
  font-size: 18px;
  line-height: 30px;
  color: #747474;
  text-align: center;
  margin: 0;
}

.con button {
  height: 30px;
  width: 131.219px;
  background-color: #3d83df;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
  word-spacing: 0px;
  color: var(--color-white);
  border: none;
  padding: 0px 15px 0px 15px;
}

.cart__1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cart__1:first-child {
  margin-bottom: 10px;
}

.cart__1:last-child {
  margin-top: 10px;
}
/* End of sixth section styling */

/* Final section styling */
.final {
  margin: 70px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.final h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 39px;
  text-align: center;
}

.final button {
  height: 40px;
  width: 240px;
  background-color: #3d83df;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
  word-spacing: 0px;
  color: var(--color-white);
  border: none;
  padding: 0px 15px 0px 15px;
}
/* End of final section styling */

/* footer styling */
footer {
  border-top: 0.8px solid #eef2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 14px;
  line-height: 18.2px;
  text-align: center;
  word-spacing: 0px;
  color: #ababab;
  height: 18.1875px;
  width: 975px;
  margin: 19px 0 5px 0;
}
/* End of footer styling */
